body {
    background-color: #f8f9fa;
  }
  
  .jumbotron {
    background-color: #343a40;
    color: #fff;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .card {
    margin-bottom: 20px;
    background-color: rgba(71, 71, 124, 0.133);
  }